* {
    border: 0;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

html, body {
    overflow-x: hidden;
}

header{
    width: 100%;
    background-color: #ffffff;
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 0px 10%;
    align-items: center;
    height: 15%;
    font-family: "Jura", sans-serif;
    font-weight: 600;
    z-index: 99;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease;
}

.esconder {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 20px;
    z-index: 100;
}

.esconder:hover + header,
header:hover {
    opacity: 1;
    pointer-events: auto;
}

header .section_logo {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 30%;
    gap: 30px;
}

header .section_logo img {
    width: 50%;
    border-radius: 10px;
}

header .section_href {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 50%;
    gap: 5px;
}

header .section_href a {
    text-decoration: none;
    color: black;
    margin-right: 5%;
}

header .section_href a:hover {
    border-bottom: 2px solid black;
    transition: 2s;
}

.container {
    background-color: #1B264F;
    width: 100%;
    min-height: 100vh;
}

.centro {
    align-items: center;
    display: flex;
    font-family: "Inter", sans-serif;
    width: 100%;
}

.boxBemVindo {
    background-image: url("../assets/imgs/login/imagemLogin.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 70%;
}

.inicioLogin {
    display: flex;
    font-family: "Inter", sans-serif;
}

.inicioLogin img {
    height: auto;
    width: 60%;
}

.inicioLogin h1 {
    margin: 11%;
    font-size: 36px;
    margin-left: -15%;
}

.boxBemVindo p {
    margin: 0% 12%;
}

.boxBemVindo img {
    margin: 5% 20%;
    justify-content: center;
    height: auto;
    width: 50%;
}

.boxLogin {
    background-color: white;
    width: 40%;
    height: 100vh;
}

.boxLogin h2 {
    font-size: 24px;
    margin-left: 40%;
    margin-bottom: 5%;
    margin-top: -5%;
    font-weight: bold;
}

.boxLogin input {
    margin-left: 9%;
    margin-top: 1%;
    width: 80%;
    height: 8%;
    border: 2px, solid, rgb(226, 225, 225);
    border-radius: 10px;
    padding-left: 3%;
    font-size: 18px;
}

.login {
    margin-top: 6%;
    margin-left: 10%;
    font-weight: bold;
}

.loginS {
    margin-left: 10%;
    font-weight: bold;
}

.user {
    position: absolute;
    height: auto;
    width: 2.2%;
    top: 45.4%;
    left: 29.5%;
}

.lock {
    position: absolute;
    height: auto;
    width: 2.2%;
    top: 61%;
    left: 29.5%;
}

.boxLogin span {
    font-size: 16px;
    margin-left: 19%;
    margin-bottom: 3%;
    margin-top: 3%;
    color: black;
    font-weight: bold;
}

.boxLogin a {
    font-size: 16px;
    font-family: "Pixelify Sans", sans-serif;
    margin-left: 1%;
    margin-bottom: 3%;
    margin-top: 3%;
    color: #1B264F;
    font-weight: bold;
}

.boxLogin button {
    color: white;
    font-size: 18px;
    text-align: center;
    margin-left: 10%;
    margin-bottom: 2%;
    width: 77%;
    height: 8.5%;
    border-radius: 10px;
    border: none;
    background-color: #1B264F;
    cursor: pointer;
}